{% extends 'partials/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 p-3">
        <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <p>Voulez vous suprimez cet article ? {{object}}</p>
            <input type="submit" value="Suprimer" class="btn btn-danger" >
            <a href="{%url 'my-article' %}" class="btn btn-secondary ">Non</a>
        </form>
    </div>
    </div>
</div>

{% endblock %}



