{% extends 'base.html' %}
{% load static %}

{% block title %} Connexion {% endblock %}


{% block content %}

<br> <br> <br>
<div class="container">
    
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('{% static 'images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
        <br> <br> <br>
    <div class="col-md-12 mt-5 mb-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert  text-center" style="background-color: aqua;"><strong>{{message}}</strong></div>
        {%endfor%}
        {% endif%}
        <form action="" method="POST" novalidate>{% csrf_token %}<!-- pour la protection token  du formulaire-->
            <div class="card">
                <div class="card-header text-center"><i
                        class="fas fa-user">connexion</i> 
                </div>
                <div class="card-body"> 
                    <label for="id_username">Nom utilisateur</label>
                    {{form.username}}
                    <label for="id_password">Email</label>
                    {{form.email}}
                    <label for="id_password">Mot de passe </label>
                    {{form.password}}
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block">
                        S' inscrire
                    </button>
                </div>
               
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}

{% block scripts %}


{% endblock %}