<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
      <div class="row mb-5">
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>place</span></a></h2>
                  <p>Très loin, derrière les montagnes de mots, loin des pays Vokalia et Consonantia, vivent les textes aveugles.</p>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                      <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md">
              <div class="ftco-footer-widget mb-4 ml-md-5">
                  <h2 class="ftco-heading-2">Informations</h2>
                  <ul class="list-unstyled">
                      <li><a href="#" class="py-2 d-block">À propos</a></li>
                      <li><a href="#" class="py-2 d-block">Services</a></li>
                      <li><a href="#" class="py-2 d-block">Termes et conditions</a></li>
                      <li><a href="#" class="py-2 d-block">Meilleure garantie de prix</a></li>
                      <li><a href="#" class="py-2 d-block">Politique de confidentialité et cookies</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Support Client</h2>
                  <ul class="list-unstyled">
                      <li><a href="#" class="py-2 d-block">FAQ</a></li>
                      <li><a href="#" class="py-2 d-block">Options de paiement</a></li>
                      <li><a href="#" class="py-2 d-block">Conseils de réservation</a></li>
                      <li><a href="#" class="py-2 d-block">Comment ça marche</a></li>
                      <li><a href="#" class="py-2 d-block">Contactez-nous</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Une question ?</h2>
                  <div class="block-23 mb-3">
                      <ul>
                          <li><span class="icon icon-map-marker"></span><span class="text"> Cote Ivoire</span></li>
                          <li><a href="#"><span class="icon icon-phone"></span><span class="text">+225 0705877104 /+225 0172740852</span></a></li>
                          <li><a href="#"><span class="icon icon-envelope"></span><span class="text">sergetanoh13@gmail.com</span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
              <p>
                  <!-- Le lien vers Colorlib ne peut pas être supprimé. Le modèle est sous licence CC BY 3.0. -->
                  Droits d'auteur &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés | Ce modèle est fait avec <i class="icon-heart color-danger" aria-hidden="true"></i> par <a href="" target="_blank">location voitures</a>
                  <!-- Le lien vers Colorlib ne peut pas être supprimé. Le modèle est sous licence CC BY 3.0. -->
              </p>
          </div>
      </div>
  </div>
</footer>

  


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
